* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

nav a {
    text-decoration: none;
    margin-right: 23px;
    color: black;
}

#hero {
    margin-top: 80px;
    padding-top: 20px;
    text-align: center;
}

#hero .btn {
    background-color: #f1c40f;
    padding: 10px;
    font-size: 16px;
    font-style: bold;
}

#header-img {
    width: 250px;
    float: left;
}

.grid {
    display: flex;
}

#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product>.level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.product>button:hover {
    background-color: orange;
    transition: background-color 1s;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}